@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



/* For mobile phones: */
p {
    text-align: center;
    font-size: medium;
}

.hero-text h1 {
    font-family: 'Noto Serif JP';
    font-weight: 300;
    font-size: 30px;

    animation-name:fadeInHero-text;
    animation-duration:2.5s;
    animation-fill-mode:forwards;
    opacity:0;
}

.race-schedule h1{
    font-family: Roboto;
    text-align: center;
    font-weight: 1000;
    font-size: 40px;
    letter-spacing: 5px;
    color: white;

    width: 70%;
    margin: auto;
    background-color: black;

    box-shadow: 10px 10px rgb(255, 214, 221);
    
    margin-top: 40px;
    margin-bottom: 40px;
}

.images h1 {
    font-family: Roboto;
    text-align: center;
    font-weight: 1000;
    font-size: 40px;
    letter-spacing: 5px;
    color: white;

    width: 80%;
    margin: auto;
    background-color: black;

    box-shadow: 10px 10px rgb(253, 253, 166);
    
    margin-top: 40px;
    margin-bottom: 40px;
}
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    p {
        text-align: center;
        font-size: 30px;
    }

    .hero-text h1 {
        font-family: 'Noto Serif JP';
        font-weight: 300;
        font-size: 70px;
    
        animation-name:fadeInHero-text;
        animation-duration:2.5s;
        animation-fill-mode:forwards;
        opacity:0;
    }

    .race-schedule h1{
        width: 10%;
    }

    .images h1 {
        width: 22%;
    }
  }

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: serif;
    animation-name:fadeInBody;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    overflow-x: hidden;
}

@keyframes fadeInBody{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./assets/img/hero-image.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section {
    margin-bottom: 5%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@keyframes fadeInHero-text{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.bar0 {
    background-color: rgb(126, 255, 255);
    height: 33.33%;
    width: 100%;
    z-index: 1;
}

.bar1 {
    background-color: pink;
    height: 33.33%;
    width: 100%;
    z-index: 1;
}

.bar2 {
    background-color: rgb(255, 255, 155);
    height: 33.33%;
    width: 100%;
    z-index: 1;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

.block0 {
    position: absolute;
    background-color: white;

    width: 500px;
    height: 5px;
    right: 2000px;
}

/* .container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)), url("./assets/img/umamusuko_logo.png");
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)), url("./assets/img/umamusuko_logo.png"); 
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)), url("./assets/img/umamusuko_logo.png"); 
    background: -o-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)), url("./assets/img/umamusuko_logo.png"); 
    background: -ms-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)), url("./assets/img/umamusuko_logo.png"); 
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)), url("./assets/img/umamusuko_logo.png"); 
    background-size: 40%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    
} */

.details {
    text-align: center;
}

.details img {
    width: 10%;
    height: auto;
    margin: auto;
    margin-bottom: 25px;
}



.slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;/*スライド左右の余白調整*/
}

.slider {
    padding: 0;
}